*{box-sizing: border-box;

}

h1{font-size: 3.5em;
text-align: center;
color:  #644124 ;
margin: 20px 0;


}

.article{
max-width: 800px;
margin: 20px auto;
padding: 20px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
h2{font-size: 2.5em;
text-align: center;
color:  #6B7036 ;
}

p{font-size: 1.25em;
position: relative;

}
ul{list-style: none;}



body{

    background-color: #E8BB24;
    

    
        font-family: "Kanit", sans-serif;
        font-weight: 100;
        font-style: normal;
      
      
      
        font-family: "Kanit", sans-serif;
        font-weight: 400;
        font-style: normal;
      
    }




header{
    background-color: #644124;
}

header.logo{
    margin: 0;
    padding: 25px  30px;
    text-align: center;
  
}

nav{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 25px;
}

div{
   text-align: center;

}

.hero img {
    position:relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    
}

.hero img{
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.hero h1{
    top: 20%;
    left: 10%;
    font-size: 3rem;
}




footer{

    height: 150px;
    color: #8E97A3;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}



